<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf/org">
<head>
    <title>Produkty</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<section>
    <div class="jumbotron">
        <div class="container">
            <h1>Produkty</h1>
            <p>Wszystko co możemy Ci wcisnąć w dobrej cenie!</p>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3" style="padding-bottom: 15px">

            <table border="1">
                <tr>
                    <td>Id</td>
                    <td>Imie</td>
                    <!--<td>Ilość zamówiona</td>-->
                </tr>
                <!--<tr th:foreach="${list}"></tr>-->
                <!--<td th:text="${productId}">Id</td>-->
                <!--<tr th:text="product: ${list}">-->
                <!--+                    <td th:text="${product.sessionName}">Name</td>-->
                <!--+                    <td th:text="${product.productId}">Id</td>-->
                <!--+                    <td>-->
                <!--&lt;!&ndash;th:href="@{/prod/prod(prodId=${product.productId})}">view</a>&ndash;&gt;-->
                <!--th:href="@{/product/comments(prodId=${prod.id})}"-->
                </tr>
                <tr th:each="product: ${list}">
                    <td th:text="${product.productId}">Id</td>
                    <td th:text="${product.name}">Imie</td>
                    <td><button class="btn"> <a href="/order/{product.productId}"
                                                + th:href="@{/order/__${product.productId}__}">Usuń z koszyka</a></button></td>
                </tr>

            </table>
            <a href="order/cart.html" th:href="@{/order/cart}">Złóż zamówienie</a>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>